$mainColor: #000000;
$objectColor: #434343;
$backgroundColor: #262626;
$borderColor: #262626;
$secondaryColor: #0078ff;
$textColor: white;

.dashboard {
  height: 100vh;
  background-color: $backgroundColor;
  .top-bar {
    background-color: $mainColor;
    height: 8vh;
    display: flex;
    align-items: center;
    .dropdown-toggle {
      width: 6rem;
      padding: 0 0 0 0;
      padding-right: 3rem;
      color: $textColor;
      &:hover {
        color: $textColor;
      }
    }
    .dropdown-menu {
      position: absolute;
      transform: translate(-65px, 5.5vh) !important;
      right: 0;
      top: 0;
      background-color: darken($backgroundColor, 5%);
      a {
        color: $textColor;
        &:hover {
          background-color: $mainColor;
          color: $textColor;
        }
      }
    }
  }
  .add-button {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
    display: flex;
  }
  .task-deck {
    height: 92vh;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      padding: 10px;
    }
    .task {
      flex: 0 0 auto;
      margin-left: 20px;
      background-color: $objectColor;
      width: 25rem;
      height: 70vh;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $textColor;
      .btn {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
    .task-not-found {
      color: darken($textColor, 40%);
      width: 100%;
      font-size: 3vh;
      text-align: center;
    }
  }
}

.modal-content {
  background-color: $objectColor !important;
  border-radius: 15px !important;
  .modal-header {
    color: $textColor;
    border-bottom: 1px solid $borderColor;
    .close {
      color: $textColor;
    }
  }
  .modal-body {
    label {
      width: 100%;
      display: flex;
      color: $textColor !important;
      .input-label {
        width: 30%;
      }
      input {
        padding-left: 15px;
        width: 70%;
        border: none;
        border-radius: 5000px;
        background-color: $backgroundColor;
        color: $textColor !important;
      }
    }
  }
  .modal-footer {
    padding: 0 0 0 0;
    border: none;
    .btn {
      margin: 0 0 0 0;
      width: 100%;
      border-end-end-radius: 15px;
      border-end-start-radius: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
